@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}
@font-face {
  font-family: 'Fino';
  src: url('/fonts/Fino/fino-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Titillium Web', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

/* Global Base Styles for Body */
body, p, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif; /* Changed from Arial to Titillium Web */
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Headings: Use Merriweather for all heading levels */
 h2, h3 {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0.5em 0;
}
h1{
  font-family: 'Fino', serif;
  margin: 0;
  padding: 0.5em 0;
}

/* Italic and Bold utility classes */
.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.heading-italic {
  font-style: italic;
}

.heading-bold {
  font-weight: bold;
}

/* Drop Cap Styling */
.dropcap::first-letter {
  font-family: 'Fino', serif;
  font-size: 2rem;
  float: left;
  line-height: 0.5;
  padding-right: 0rem;
  margin-right: 0rem;
}

p {
  font-family: 'Titillium Web', sans-serif !important;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  vertical-align: bottom;
}

#__next {
  height: 100%;
}

